body {
    display: grid;
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: lightcoral;
}

.inputClass {
    margin: 0 auto;
   text-align : center;
   border-radius: 5px;
}

.ageMeter, .restMeter , .hungryMeter, .boredMeter {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

.restClass, .hungryClass, .boredClass, .startClass {
    margin: 10px 10px 10px 0px ;
    padding:  4px 11px 4px 11px;
    background-color: lightcoral;
    border-radius: 5px;
    color: white;
}
