body {
    display: grid;
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: lightcoral
}

.inputClass {
    margin: 0 auto;
   text-align : center
}

.ageMeter, .restMeter , .hungryMeter, .boredMeter {
    text-align: center;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

.restClass, .hungryClass, .boredClass, .startClass {
    margin: 10px 10px 10px 0px ;
    background-color: lightcoral;
    color: white;
}
