
h1 {
    text-align: center;
    color: lightcoral
}

.ageMeter {
    text-align: center;
}

button {
    color: blue;
    margin:5px 5px 0 0;
}

body {
    background-color: lightblue;
}

.restClass {
    margin: 10px 10px 10px 0px ;
    background-color: lightcoral;
    color: white;
}

.hungryClass {
    margin: 10px 10px 10px 0px ;
    background-color: lightcoral;
    color: white;
}

.boredClass {
    margin: 10px 10px 10px 0px ;
    background-color: lightcoral;
    color: white;
}

.startClass {
    margin: 10px 10px 10px 0px ;
    background-color: lightcoral;
    color: white;
}